.Header {
  height: 112px;
}
.header-style {
  padding: 42px 15px;
  display: flex;
  justify-content: space-between;
}
.logout-icon {
  padding-right: 10px;
}
.logout-button {
  padding: 10px;
  &:hover {
    background-color: #99cc33;
  }
}
